<mat-card *ngIf="comunicationService.message; else empty">
    <mat-card-title class="card_title">
        Algunas características del número:
    </mat-card-title>
    <mat-card-content class="first_element">
        El doble del número es: {{getDouble(comunicationService.message)}}
    </mat-card-content>
    <mat-card-content>
        El triple del número es: {{getTriple(comunicationService.message)}}
    </mat-card-content>
    <mat-card-content>
        La mitad del número es : {{getHalf(comunicationService.message)}}
    </mat-card-content>
    <mat-card-content>
        El cuadrado del número es: {{getSquare(comunicationService.message)}}
    </mat-card-content>
    <mat-card-content>
        La raíz cuadrada del número es : 
        <span *ngIf="getSquareRoot(comunicationService.message) != -1; else negative">
            {{getSquareRoot(comunicationService.message)}}</span>
        <ng-template #negative><span>Es un número negativo</span></ng-template> 
    </mat-card-content>
    <mat-card-content>
        El seno del número es : {{getSin(comunicationService.message)}}
    </mat-card-content>
    <mat-card-content>
        El coseno del número es : {{getCos(comunicationService.message)}}
    </mat-card-content>    
    <mat-card-content >
        ¿Es la parte entera un número primo? 
        <span class="resaltar" *ngIf="!isPrime(comunicationService.message); else prime">No es primo</span>
        <ng-template #prime><span class="resaltar">Es primo</span></ng-template>            
    </mat-card-content>   
</mat-card>
<ng-template #empty>
    <mat-card>
        <mat-card-title>
            Teclea un número en el input de la izquierda.
        </mat-card-title>
    </mat-card>
</ng-template>

