mat-grid-tile{
    background: lightblue;
}
.father_title_div{
    display: flex;
    align-items: center;  
    justify-content: center;
    width: 100%;   
}
.father_title{
    margin-top: 5px;
    
}
.father_message{
    margin-left: 10px;
}