
<mat-toolbar color="primary">
  Ejercicio de Servicios con Angular
</mat-toolbar>
<div class="father_title_div">
  <h2 class="father_title">Componente Padre</h2>  
</div>
<div class="father_message">Esto es lo escrito en el text area: 
  <div style="white-space:pre-wrap;">{{comunicationService.message}}</div></div>


<mat-grid-list cols="2" rowHeight="500px">
  <mat-grid-tile><app-child-a></app-child-a></mat-grid-tile>
  <mat-grid-tile><app-child-b></app-child-b></mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>
